footer.footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f2ec54;
  padding: 0px 10%;
  box-shadow: var(--shadow)
}

@media (max-width: 500px) {

  footer.footer{
    display: none;
  }

}